@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --accent-color: #642ab5;
  --text-color-light-theme: rgba(66,84,102,0.88);
  --text-color-dark-theme: rgba(232,234,236,0.85);
}
