.link {
  width: 36px;
  height: 36px;
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  border: light-dark(1px solid var(--mantine-color-gray-3), 1px solid var(--mantine-color-dark-4));
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: light-dark(var(--text-color-light-theme), var(--text-color-dark-theme));

  & svg {
    width: 20px;
    height: 20px;
  }
}
