.header {
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-body));
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;

  @media (max-width: 500px) {
    justify-content: center;
  }
}

.logo {
  @media (max-width: 500px) {
    display: none;
  }
}

.github {
  @media (max-width: 340px) {
    display: none;
  }
}
