.switcher {
  position: relative;
  width: 26px;
  height: 26px;
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  border: light-dark(1px solid var(--mantine-color-gray-3), 1px solid var(--mantine-color-dark-4));
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  transition: opacity 0.2s, transform 0.2s;
}

.light {
  opacity: light-dark(1, 0);
  color: var(--mantine-color-yellow-4);
}

.dark {
  opacity: light-dark(0, 1);
  color: var(--mantine-color-blue-4);
}
