.switcher {
  width: 36px;
  height: 36px;
  background: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  border: light-dark(
    1px solid var(--mantine-color-gray-3),
    1px solid var(--mantine-color-dark-4)
  );
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & svg {
    width: 20px;
    height: 20px;
  }
}

.light {
  opacity: light-dark(1, 0);
  color: var(--text-color-light-theme);
}

.dark {
  opacity: light-dark(0, 1);
  color: var(--text-color-dark-theme);
}
